<?xml version="1.0"?>
<launch>

  <!-- start logitech usb webcam  node -->
  <include file="$(find sphere_camera)/launch/low_res.launch" /> 

  <!-- start image view -->
  <!-- node pkg="image_view" type="image_view" args="image:=/logitech_usb_webcam/image_raw" name="image_view_node" output="screen"/ -->

  <!-- start sphereptz node -->
  <param name="dev_video" value="/dev/video0" type="string"/>
  <node pkg="sphere_camera" type="sphereptz" name="sphereptz" output="screen" />
  

</launch>

