<?xml version="1.0"?>
<launch>

  <!-- start hokuyo node -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node_front" output="screen"/>

  <!-- start fixed transform -->
  <node pkg="summit_static_tf" type="summit_tf" name="summit_tf_node" output="screen"/>

  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find summit_node)/launch/laser.vcg" /-->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>

