<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find summit_missions)/floor_1/CITE_IV_floor1_COccupancyGridMap2D_00.png 0.08" respawn="false" />

  <!--include file="$(find amcl)/examples/amcl_omni.launch" /-->

  <include file="$(find summit_missions)/floor_1/localization.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find summit_missions)/costmap2d/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find summit_missions)/costmap2d/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find summit_missions)/costmap2d/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_missions)/costmap2d/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_missions)/costmap2d/config/base_local_planner_params.yaml" command="load" />
  </node>


</launch>
