<launch>

<!-- imu -->
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_3dmgx2_node" output="screen">
    <param name="time_offset" value="-0.040" />
    <param name="port"  type="string" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A1024O16-if00-port0" />         <!--   USB1: IMU del summit -->
    <param name="autostart" type="bool" value="true" />
    <param name="frameid"  type="string" value="imu" />
    <param name="autocalibrate" type="bool" value="true" />
    <param name="angular_velocity_stdev" type="double" value="0.00017" />
  </node>

</launch>
