<?xml version="1.0"?>
<!--
More info:  http://wiki.ros.org/pointcloud_to_laserscan
-->
<launch>

<!-- pointcloud_to_laserscan node -->
<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

<!-- Subscribed Topics -->
  <remap from="cloud_in" to= "/camera/depth/points" />
<!-- Published Topics -->
  <remap from="scan" to= "/camera/scan" />
  <rosparam>
    min_height: -0.2
    max_height: 0.3
    angle_min: -1.5708  <!-- -pi/2 -->
    angle_max: 1.5708   <!-- pi/2 -->
    angle_increment: 0.009  <!--0.00872665-->  <!-- pi/360 -->
    scan_time: 0.0666666
    range_min: 0.45
    range_max: 4.0
    target_frame: camera_depth_frame  <!-- default: none -->
    concurrency_level: 1
    use_inf: true
  </rosparam>

</node>


</launch>
