<?xml version="1.0"?>
<launch>

  <!-- 
	start robot_state_publisher - publish fixed transforms, load robot model to param server 
  -->
  <include file="$(find summit_description)/launch/summit_state.launch"/>

  <!-- 
	start summit_controller node 
  -->
  <!-- node pkg="summit_controller_dspic" type="summit_controller_dspic" name="summit_controller_dspic" output="screen"/ -->
  <include file="$(find summit_controller_dspic)/launch/summit_controller_dspic.launch"/>
 
  <!-- 
	start summit_joystick node 
  --> 
  <include file="$(find summit_pad)/launch/summit_pad.launch"/>

  <!-- 
	start robotnik_arduimu 
  -->
  <include file="$(find robotnik_arduimu)/launch/robotnik_arduimu.launch"/> 

  <!--
        start Hokuyo Laser (Ethernet)
  -->
  <include file="$(find summit_complete)/launch/hokuyo.launch"/>

  <!--
       rosservice call to activate SINGLE_ACKERMANN mode 
  -->
  <node pkg="rosservice" type="rosservice" name="set_ackerman_mode" args="call /summit_controller_dspic/set_mode 'mode: 1'" />

  <!-- start sphere camera nodes -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!-- Have not been tested... yet!! -->

  <!-- start rplidar node -->
 <!-- <include file="$(find rplidar_ros)launch/rplidar.launch"/> -->

  <!-- start sound node -->
  <!--<node pkg="sound_play" type="soundplay_node.py" name="sound_play_node" output="screen"/> -->

  <!-- rosrun sound_play say.py 'READY'  -->
  <!--<node pkg="sound_play" type="say.py" name="sound_play_say" args="'SUMMIT, READY'" output="screen"/>  -->
  <!-- node pkg="sound_play" type="play.py" name="sound_play_play" args="Hold.wav" output="screen"/ -->

  <!-- start axis camera -->
  <!-- include file="$(find axis_camera)/launch/axis.launch"/ -->

  <!-- start sphere camera nodes -->
  <!-- <include file="$(find sphere_camera)/launch/sphereptz.launch"/>  -->


  <!-- start GPS -->
  <!-- include file="$(find summit_complete)/launch/gpsd_client.launch"/ -->

  <!-- start robotnik_arduimu and madgwick filter -->
  <!-- <include file="$(find robotnik_arduimu)/launch/robotnik_arduimu_madgwick.launch"/>  -->

</launch>
